namespace CinemaApp.wwwroot.css

/*This is for making  the cards to move when we hover over them */
.card {
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* moves it upward */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
