html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.comment-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #e0e0e0; /* For Firefox */
}

.comment-list::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.comment-list::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 4px;
}

body {
    background: url('/images/last.png') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Optional: ensure text is visible */
}

p {
    color: #000 !important;
    background-color: #fff !important; /* solid white background */
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
}
strong {
    color: #000 !important;
    background-color: #fff !important; /* solid white background */
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
}
li {
    color: #000 !important;
    background-color:transparent; /* solid white background */
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
}

h3 {
    color: #000 !important;
    background-color: transparent; /* solid white background */
   
}
h1 {
    color: #000 !important;
    background-color: transparent; /* solid white background */ 
}
h4 {
    color: #000 !important;
    background-color: transparent; /* solid white background */ 
}

.text-white {
    color: white;
}
.text-white {
    color: white !important;
}






